*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.Banner{
  width: 100vw;
  height: 10vh;
  background-color: #f8f0d1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.backgroundVideo{
  width: 100vw;
  height: 50vh;
  background-color: gray;
}


.newsSection-body{
  width: 100vw;
  height: 50vh;
  background-color: #f8f0d1;
  display: flex;
  justify-content: center;
}

.news{

  width: 90%;
  height: 90%;
  background-color: gray;
}