@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
  
}

::-webkit-scrollbar{
  height: 0.5em;
  width: 0.5em;
}

::-webkit-scrollbar-track{
  background: black;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb{
  background-color: white;
  
  border-radius: 100vw;
}

body{
  width: 100%;
  height: 100vh;
  font-family: 'roboto', sans-serif;
}

.Banner{
  width: 100vw;
  height: 10vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
}

.backgroundVideo{
  width: 100vw;
  height: 50vh;
  background-color: gray;
}

/**Events Section**/
.eventsSection{
  background-color: black;
  padding-bottom: 25px;
  padding-top: 25px;
}
.eventsSection-title{
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


.eventsSection-body{
  width: 100vw;
  height: 50vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 150px;
}

.events{
  
  width: 70%;
  height: 95%;
  
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hidden;
}


.events-card{
  width: 230px;
  height: 100%;
  background-color: white;
  
  position: relative;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 20px;
  display: inline-block;
  overflow: hidden;
  color: orange;
  
}

.events-card:hover .events-card-body{
  right: 0;
}

.events-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.events-card-body{
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  backdrop-filter: blur(10px);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.2s;
  
  border-radius: 15px;
}

.events-card-title{
  text-transform: uppercase;
  
}

.events-card-subtitle{
  text-transform: capitalize;
  
}


p, h1{
  white-space: pre-wrap;
}

.events-card-redirect{
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  cursor: pointer;
  border: solid orange;
  outline: none;
  width: 120px;
  background-color: transparent;
}

/**Hai Trinh StaffsSection**/


.StaffsSection{
  width: 100vw;
  background-color: black;
}

.StaffsSection-title{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}



.StaffsSection-wrapper{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-between;
  align-items: center;

}

.StaffsSection-card{
  position: relative;
  width: 200px;
  height: 150px;
  border-radius: 15px;
  
  margin-top: 15px;
  margin-bottom: 100px;
  background-color: #333131;
  color: white;
  text-align: center;
}

.StaffsSection-card-img {
  position: absolute;
  display: flex;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border: black solid;
  top: -60px;
  right: 0;
  left: 0;
  margin: auto;
  transition: all 1s;
  z-index: 2;
}

.StaffsSection-card-title, .StaffsSection-card-title{
  z-index: 1;
}

.StaffsSection-card:hover .StaffsSection-card-img{
  top: 60px
}

.StaffsSection-card-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**Begin Admin Panel CSS**/


.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #f2f2f2;
}

.nav-toggle {
  display: flex;
}

.toggle-button {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border: none;
}

.text {
  flex: 1;
  margin-left: 16px;
  text-align: center;
}

.vertical-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 16px;
}

.vertical-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.vertical-buttons button {
  margin-bottom: 8px;
  width: 100px;
  height: 40px;
  background-color: #ccc;
  border: none;
}


/**Gael's Footer Section **/
.grandparent{
  background-color: rgb(189, 189, 189);
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.parent{
  width: 100%;
  height: 10vh;
  background-color: rgb(189, 189, 189);
  display: flex;
  justify-content: left;
  align-items: center;
  border: solid black;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  padding: 15px;
}


#parent3{
  border: none;
}


#child1{
  display: flex;
  align-items: center;
  gap: 12px;
}


.container{
  display: flex;
  
  align-items: center;
  gap: 10px;
  padding: 0.5%;
}

.sponsors{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}
.icon-container{
  display: flex;
  gap: 5px;
  padding-top: 8px;
  align-items: center;
}
.icon{
  width: 15px;
  height: 15px;
}

.copyright{
  text-align: center;
  background-color: rgb(189, 189, 189);
  color: rgba(0, 0, 0, 0.404);
  padding-bottom: 10px;
}

.slogan{
  font-size: 30px;
  font-family: 'Lexend', sans-serif;
  font-weight: 100;
}

/**Sponsors Section Hai Trinh 5-15-2023**/
.sponsors-section{
  background-color: black;
}

.sponsors-section h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  color: white;
}

.sponsors-section-items-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsors-section-item{
  width: 30vh;
  height: 30vh;
  object-fit: contain;
}

.sponsors-section-contact {
  display: flexbox;
  justify-content: center;
  align-items: center;
}