*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  font-family: 'roboto', sans-serif;
}

.Banner{
  width: 100vw;
  height: 10vh;
  background-color: #f8f0d1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.backgroundVideo{
  width: 100vw;
  height: 50vh;
  background-color: gray;
}

/**Events Section**/
.eventsSection-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.eventsSection-body{
  width: 100vw;
  height: 50vh;
  background-color: #f8f0d1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.events{
  
  width: 70%;
  height: 95%;
  
  /**overflow-y: hidden;**/
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hidden;
}


.events-card{
  width: 230px;
  height: 100%;
  background-color: white;
  border: 3px solid black;
  position: relative;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 20px;
  display: inline-block;
  overflow: hidden;
  color: orange;
  
}

.events-card:hover .events-card-body{
  right: 0;
}

.events-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.events-card-body{
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  backdrop-filter: blur(10px);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.2s;
  border:3px;
  border-radius: 20px;
}

.events-card-title{
  text-transform: uppercase;
  
}

.events-card-subtitle{
  text-transform: capitalize;
  
}


p, h1{
  white-space: pre-wrap;
}

.events-card-redirect{
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  cursor: pointer;
  border: solid orange;
  outline: none;
  width: 120px;
  background-color: transparent;
}

/**Hai Trinh StaffsSection**/
.StaffsSection{
  margin-top: 15px;
  margin-bottom: 15px;
}



.StaffsSlide{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.card-wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50vw;
  perspective: 1000px;
}

.StaffCard{
  width: 15%;
  height: 35%;
  position: relative;
  transition: all 1s linear;
  transform-style: preserve-3d;
}

.StaffCard img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.StaffCard-front, .StaffCard-back{

  height: 100%;
  width: 100%;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  
  position: absolute;
}
.StaffCard-back{
  color: yellow;
  z-index: 1;
  transform: rotateY(180deg);
  border-color: linear-gradient(0deg, rgba(57,66,66,1) 0%, rgba(231,168,34,1) 100%);
  background: linear-gradient(147deg, #000000 0%, #434343 74%);;
}

.StaffCard-front{
  z-index: 2;
  backface-visibility: hidden;
}

.StaffCard:hover{
  transform: rotateY(180deg);
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  font-family: 'roboto', sans-serif;
}

.Banner{
  width: 100vw;
  height: 10vh;
  background-color: #f8f0d1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.backgroundVideo{
  width: 100vw;
  height: 50vh;
  background-color: gray;
}

/**Events Section**/
.eventsSection-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.eventsSection-body{
  width: 100vw;
  height: 50vh;
  background-color: #f8f0d1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.events{
  
  width: 90%;
  height: 95%;
  
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hidden;
}


.events-card{
  width: 230px;
  height: 100%;
  background-color: white;
  border: 3px solid black;
  position: relative;
  border-radius: 20px;
  margin-left: 10px;
  display: inline-block;
  overflow: hidden;
  color: orange;
  
}

.events-card:hover .events-card-body{
  right: 0;
}

.events-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.events-card-body{
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  backdrop-filter: blur(10px);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.2s;
  border:3px;
  border-radius: 20px;
}

.events-card-title{
  text-transform: uppercase;
  
}

.events-card-subtitle{
  text-transform: capitalize;
  
}


p, h1{
  white-space: pre-wrap;
}

.events-card-redirect{
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  cursor: pointer;
  border: solid orange;
  outline: none;
  width: 120px;
  background-color: transparent;
}

/**Begin Admin Panel CSS**/


.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #f2f2f2;
}

.nav-toggle {
  display: flex;
}

.toggle-button {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border: none;
}

.text {
  flex: 1;
  margin-left: 16px;
  text-align: center;
}

.vertical-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 16px;
}

.vertical-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.vertical-buttons button {
  margin-bottom: 8px;
  width: 100px;
  height: 40px;
  background-color: #ccc;
  border: none;
}


